In [2]:
import pandas as pd
import numpy as np

In [3]:
df_fr_embeddings_path = "/Users/Anis/DataProjects/dataforgood/d4g-off/df_fr_100000_with_embeddings.csv"
df_fr = "/Users/Anis/DataProjects/dataforgood/d4g-off/df_fr_cleaned.csv"
df_fr_cleaned = pd.read_csv(df_fr)
embeddings = pd.read_csv(df_fr_embeddings_path)

In [4]:
embeddings.head(2)

,0,1,2,3,4,5,6,7,8,9,...,376,377,378,379,380,381,382,383,categories,lang
0,-0.001922,0.213273,-0.040874,-0.045164,0.202550,0.024905,0.138900,0.131194,0.328093,0.038082,...,0.492625,0.114075,0.109383,-0.232836,-0.351491,-0.738289,0.471113,-0.070052,"['en:beverages', 'en:alcoholic-beverages', 'en...",fr
1,-0.160400,0.228527,0.126597,-0.245786,0.084575,0.055743,0.574505,0.159691,0.101362,0.053742,...,0.255385,0.098431,0.113733,0.004395,-0.192050,-0.428666,0.367828,0.057453,"['en:plant-based-foods-and-beverages', 'en:pla...",fr

In [5]:
embeddings_vectors = embeddings.iloc[:,:-2]

In [6]:
from numpy.linalg import norm
def cos(a,b):
    a = np.array(a)
    b = np.array(b)
    return np.divide( a.T @ b, norm(a)*norm(b))

In [21]:
A = np.array([
    [0, 1, 2],
    [1, 2, 3],
    [3, 4, 6]
])

B  = np.array([
    [1, 1, 2],
    [1, 2, 3],
    [9, -2, 6]
])

C = np.array([
    [0, 1, 2],
    [1, 2, 3],
    [3, 4, 4]
])

In [30]:
def dist(a,b):
    a = np.array(a)
    b = np.array(b)
    return np.sqrt(sum((a-b)**2))

In [32]:
def get_mat_dist(X):
    mat = np.zeros((len(X), len(X)))
    for i in range(len(X)):
        for j in range(len(X)):
            d = dist(X[i], X[j])
            mat[i,j] = d
    return mat